.container{
  display: flex;
  align-items: center;
  justify-content: center;

}
.wrapper{
  padding: 20px;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* X, Y, độ mờ, màu */
  background-color: #fffdfd;

}
.row{
  display: flex;
  justify-content: space-around;
}
.custom-mat-form-field:not(:first-of-type) {
  margin-left: 20px;
}
.custom-mat-form-field{
   margin-top:20px;
 }
.action{
  float:right;
  margin-top: 20px;
}
.group-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: #8077EA;
  border:1px solid #bbb;
  padding: 20px;
  border-radius: 4px;
}




