
.app-container {
  display: flex;
}

.sidebar-container {
  border-right: 1px solid #bbb;
  background-color: #7A8A65;
}

.outlet-wrapper {
  width: 100%;
  height: calc(100vh - 64px);
  //display: flex;
  //justify-content: center;
  //align-items: center;
}
