
  <app-header></app-header>
  <mat-sidenav-container>
    <app-sidebar></app-sidebar>
<!--    <mat-sidenav-content>-->
<!--      <div class="content mat-elevation-z4">-->
<!--      <app-nhanvien></app-nhanvien>-->
<!--      </div>-->
<!--    </mat-sidenav-content>-->
  </mat-sidenav-container>
<app-footer></app-footer>
<!--<mat-toolbar color="primary">Demo sidebar</mat-toolbar>-->
<!--<mat-sidenav-container>-->
<!--  <mat-sidenav #sidenav="matSidenav">-->
<!--      hello-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content >-->
<!--    <div class="content mat-elevation-z4">-->
<!--      Main content-->
<!--    </div>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

